@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

.attribution {
  display: flex;
  position: absolute;
  font-size: 11px;
  text-align: center;
  top: 120vh;

  a {
    color: hsl(228, 45%, 44%);
  }
}

body {
  width: 100vw;
  height: 120vh;
  background: hsl(225, 100%, 94%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.background {
  top: 0;
  position: fixed;
}

.card {
  display: grid;
  position: absolute;
  grid-template-columns: 450px;
  grid-template-rows: 220px 250px 180px;
  grid-template-areas: "image" "text" "button";
  border-radius: 1em;
  background: white;
  box-shadow: 2px 2px 20px rgba($color: #000000, $alpha: 0.1);
  text-align: center;
  color: hsl(224, 23%, 55%);
  background: url(./images/illustration-hero.svg) white;
  background-repeat: no-repeat;
  row-gap: 1em;
}

.card-image {
  grid-area: image;
}

.card-text {
  grid-area: text;

  p {
    padding: 0 2em;
  }

  .card-plan {
    display: flex;
    background: hsl(225, 100%, 98%);
    margin: 3em;
    margin-top: 1em;
    border-radius: 0.75em;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em;

    .plan-icon {
      margin-left: 0.75em;
    }

    .plan-text {
      margin-right: 2em;

      h2 {
        font-size: 1em;
        padding: 0;
        margin-bottom: 0;
      }

      p {
        margin-top: 0;
      }
    }
  }
}

.card-buttons {
  grid-area: button;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 0 3em;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  // border: 5px solid red;

  .card-payment {
    background: hsl(245, 75%, 52%);
    border-radius: 0.75em;
    box-shadow: 2px 2px 20px rgba($color: hsl(245, 75%, 52%), $alpha: 0.4);
    // border: 5px solid red;

    a {
      text-decoration: none;

      h3 {
        font-size: 1em;
        color: white;
        font-weight: 700;
      }
    }
  }

  .card-cancel {
    // border: 1px solid red;
    padding-top: 0.5em;

    a {
      color: grey;
      text-decoration: none;
      font-size: 0.8em;
      font-weight: 900;
    }
  }
}
